<p id="notice"><%= notice %></p>

<h1 align= "center">Q&A</h1>
<div id="q_table">
  <table>
    <thead>
      <tr>
        <th width="29%">日時</th>
        <th width="55%">質問内容</th>
        <th width="10%">回答件数</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></td>
          <td><%= safe_join(question.question.split("\n"),tag(:br)) %></td>
          <td align="center"><%= question.answer_count %></td>
          <td  align="center"><%= link_to '詳細', question %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= form_with(url: '/questions', local: true) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "") %> 個のエラーで送信できません</h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% form.label :question %>
    <%= form.text_area :question, id: :question_question, :size=>"50x8"%>
  </div>

  <div class="actions">
    <%= submit_tag "送信" %>
  </div>
<% end %>

<%= link_to 'topに戻る', home_top_path %>
