<p id="notice"><%= notice %></p>

<table border="1" class="show">
<thead>
<tr>
<th width="5%">年</th>
<th width="5%">組</th>
<th width="5%">番</th>
<th width="15%">氏名</th>
<th width="25%">質問内容</th>

</tr>
</thead>

<tbody>

<tr>
<td><%= @questions.user.grade %></td>
<td><%= @questions.user.class %></td>
<td><%= @questions.user.number %></td>
<td><%= @questions.user.name %></td>
<td><%= safe_join(@questions.question.split("\n"),tag(:br)) %></td>

</tr>

</tbody>
</table>

 <div class="answer_center">
 <% @answers.each do |answer| %>
   <div class="answer">
   
    
    <b>回答内容</b>
    <p><%= answer.answer %></p>
    
   </div>
 <% end %>
</div>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>
