<% require "date" %>
<p id="not""ice"><%= notice %></p>

<h1>カウンセリング申し込み者一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th>日にち</th>
      <th>時間</th>
      <th>年</th>
      <th>組</th>
      <th>番</th>
      <th>氏名</th>
    </tr>
  </thead>

  <tbody>
    <% @counsels.each do |counsel| %>
      <tr>
        <td><%= counsel.day %></td>
        <td><%= counsel.start_time.strftime("%H:%M") %>~<%= counsel.end_time.strftime("%H:%M") %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', counsels_path %>
