<p id="notice"><%= notice %></p>

<p>
  <strong>日にち:</strong>
  <%= @counsel.day %>
</p>

<p>
  <strong>開始時間:</strong>
  <%= @counsel.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>終了時間:</strong>
  <%= @counsel.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong>先生:</strong>
  <%= @counsel.teacher %>先生
</p>

<%= link_to '編集', edit_counsel_path(@counsel) %> |
<%= link_to '戻る', counsels_path %>
