<%= form_with(model: health, local: true) do |form| %>
  <% if health.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health.errors.count, "error") %> prohibited this health from being saved:</h2>

      <ul>
      <% health.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-health">
    <div class="field">
      <%= form.label :体温 %>
      <p><%= form.number_field :temperature, step: "0.1", id: :health_temperature %>℃</p>
    </div>

    <div class="field">
      <%= form.label :体調 %>
      <label><%= form.radio_button :condition, "良い" %>良い</label>
      <label><%= form.radio_button :condition, "悪い" %>悪い</label>
    </div>

    <div class="field">
      <%= form.label :症状 %>
      <%= form.collection_select :symptom_id, Symptom.all, :id, :display %>
    </div>

    <div class="field">
      <%= form.hidden_field :day, :value => @date %>
    </div>

    <div class="actions">
      <%= form.submit :送信 %>
    </div>
  </div>
<% end %>
