<p id="notice"><%= notice %></p>

<h1>欠席者・症状別一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Temperature</th>
      <th>Condition</th>
      <th>Symptom</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><%= health.user_id %></td>
        <td><%= health.temperature %></td>
        <td><%= health.condition %></td>
        <td><%= health.symptom_id %></td>
        <td><%= health.day %></td>
        <td><%= link_to 'Show', health %></td>
        <td><%= link_to 'Edit', edit_health_path(health) %></td>
        <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td><h3>欠席者一覧</h3></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
        </tr>

        <% @absenceusers.each do |absenceuser| %>
          <tr>
            <td><%= absenceuser.grade %></td>
            <td><%= absenceuser.room %></td>
            <td><%= absenceuser.number %></td>
            <td><%= absenceuser.name %></td>
            <% @absencecount = @absencecount + 1 %>
            <% @absenceday = Date.today %>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <h4><%= @absenceday.mon %>月</h4>
      <%= column_chart User.pluck(@absenceday.day, @absencecount) %>
      <% @absencecount = 0 %>
    </td>
  </tr>

  <tr>
    <td><h4>1年1組</h4></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
        </tr>
        <% @absenceusers.each do |absenceuser| %>
          <% if absenceuser.grade == 1 and absenceuser.room == 1 %>
            <tr>
              <td><%= absenceuser.grade %></td>
              <td><%= absenceuser.room %></td>
              <td><%= absenceuser.number %></td>
              <td><%= absenceuser.name %></td>
              <% @absencecount = @absencecount + 1 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>

    <td>
      <h4><%= @absenceday.mon %>月</h4>
      <%= column_chart User.pluck(@absenceday.day, @absencecount) %>
      <% @absencecount = 0 %>
    </td>
  </tr>

  <tr>
    <td><h4>3年4組</h4></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
        </tr>
        <% @absenceusers.each do |absenceuser| %>
          <% if absenceuser.grade == 3 and absenceuser.room == 4 %>
            <tr>
              <td><%= absenceuser.grade %></td>
              <td><%= absenceuser.room %></td>
              <td><%= absenceuser.number %></td>
              <td><%= absenceuser.name %></td>
              <% @absencecount = @absencecount + 1 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <h4><%= @absenceday.mon %>月</h4>
      <%= column_chart User.pluck(@absenceday.day, @absencecount) %>
      <% @absencecount = 0 %>
    </td>
  </tr>

  <tr>
    <td><h3>症状別一覧</h3></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
          <th>症状</th>
        </tr>

        <% @healths.each do |health| %>
          <% if health.symptom.disporder > 1 %>
            <tr>
              <td><%= health.user.grade %></td>
              <td><%= health.user.room %></td>
              <td><%= health.user.number %></td>
              <td><%= health.user.name %></td>
              <td><%= health.symptom.display %></td>
              <% @symptomcount = @symptomcount + 1 %>
              <% @date = Date.today %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <h4><%= @date.mon %>月</h4>
      <%= column_chart Health.pluck(@date.day, @symptomcount) %>
      <% @symptomcount = 0 %>
    </td>
  </tr>

  <tr>
    <td><h3>1年1組</h3></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
          <th>症状</th>
        </tr>

        <% @healths.each do |health| %>
          <% if health.symptom.disporder > 1 %>
            <% if health.user.grade == 1 and health.user.room == 1 %>
              <tr>
                <td><%= health.user.grade %></td>
                <td><%= health.user.room %></td>
                <td><%= health.user.number %></td>
                <td><%= health.user.name %></td>
                <td><%= health.symptom.display %></td>
                <% @symptomcount = @symptomcount + 1 %>
                <% @date = Date.today %>  
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <h4><%= @date.mon %>月</h4>
      <%= column_chart Health.pluck(@date.day, @symptomcount) %>
      <% @symptomcount = 0 %>
    </td>
  </tr>

  <tr>
    <td><h3>3年4組</h3></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
          <th>症状</th>
        </tr>

        <% @healths.each do |health| %>
          <% if health.symptom.disporder > 1 %>
            <% if health.user.grade == 3 and health.user.room == 4 %>
              <tr>
                <td><%= health.user.grade %></td>
                <td><%= health.user.room %></td>
                <td><%= health.user.number %></td>
                <td><%= health.user.name %></td>
                <td><%= health.symptom.display %></td>
                <% @symptomcount = @symptomcount + 1 %>
                <% @date = Date.today %>  
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <h4><%= @date.mon %>月</h4>
      <%= column_chart Health.pluck(@date.day, @symptomcount) %>
      <% @symptomcount = 0 %>
    </td>
  </tr>
</table>

<%= link_to 'New Health', new_health_path %>
