<p id="notice"><%= notice %></p>

<h1>欠席者・症状別一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Temperature</th>
      <th>Condition</th>
      <th>Symptom</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><%= health.user_id %></td>
        <td><%= health.temperature %></td>
        <td><%= health.condition %></td>
        <td><%= health.symptom_id %></td>
        <td><%= health.day %></td>
        <td><%= link_to 'Show', health %></td>
        <td><%= link_to 'Edit', edit_health_path(health) %></td>
        <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td><%= link_to '欠席者一覧' %></td>
    <div style="display: none;" id="absencetable">
    <td>
    <table border="1">
     <tr>
       <th>年</th>
       <th>組</th>
       <th>番</th>
       <th>氏名</th>
     </tr>
   
     <% @absenceusers.each do |absenceuser| %>
         <tr>
           <td><%= absenceuser.grade %></td>
           <td><%= absenceuser.room %></td>
           <td><%= absenceuser.number %></td>
           <td><%= absenceuser.name %></td>
         </tr>
     <% end %>
   </table>
   </td>
   <td>
     <%= column_chart @absence %>
   </td>
   </div>
  </tr>

  <% @userclasss.each do |userclass| %>
    <tr>
      <td><h4><%= "#{userclass[0]}年#{userclass[1]}組" %></h4></td>
      <td>
        <table border="1">
          <tr>
            <th>年</th>
            <th>組</th>
            <th>番</th>
            <th>氏名</th>
          </tr>
          <% if userclass[2].present? %>
             <tr>
                <td><%= userclass[2].grade %></td>
                <td><%= userclass[2].room %></td>
                <td><%= userclass[2].number %></td>
                <td><%= userclass[2].name %></td>
              </tr>
          <% end %>
        </table>
      </td>

      <td>
        <%= column_chart userclass[3] %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td><h4>症状別一覧</h4></td>
    <td>
      <table border="1">
        <tr>
          <th>年</th>
          <th>組</th>
          <th>番</th>
          <th>氏名</th>
          <th>症状</th>
        </tr>

        <% @symptoms.each do |symptom| %>
          <% if symptom.day == @today %>
            <tr>
              <td><%= symptom.user.grade %></td>
              <td><%= symptom.user.room %></td>
              <td><%= symptom.user.number %></td>
              <td><%= symptom.user.name %></td>
              <td><%= symptom.symptom.display %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <%= column_chart @symptomcount %>
    </td>
  </tr>
  
  <% @userclasss.each do |userclass| %>
    <tr>
      <td><h4><%= "#{userclass[0]}年#{userclass[1]}組" %></h4></td>
      <td>
        <table border="1">
          <tr>
            <th>年</th>
            <th>組</th>
            <th>番</th>
            <th>氏名</th>
            <th>症状</th>
          </tr>
          <% if userclass[4].present? %>
            <% if userclass[4].day == @today %>
              <tr>
                <td><%= userclass[4].user.grade %></td>
                <td><%= userclass[4].user.room %></td>
                <td><%= userclass[4].user.number %></td>
                <td><%= userclass[4].user.name %></td>
                <td><%= userclass[4].symptom.display %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </td>
      <td>
        <%= column_chart userclass[5] %>
      </td>
    </tr>
  <% end %>
