<p id="notice"><%= notice %></p>

<p>
  <strong>体温:</strong>
  <%= @health.temperature %>℃
</p>

<p>
  <strong>体調:</strong>
  <%= @health.condition %>
</p>

<p>
  <strong>症状:</strong>
  <%= @health.symptom.display %>
</p>

<%= link_to 'TOPページに戻る', home_top_path %>
