<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Password</th>
      <th>Grade</th>
      <th>Class</th>
      <th>Number</th>
      <th>Name</th>
      <th>Graduate</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.account %></td>
        <td><%= user.password %></td>
        <td><%= user.grade %></td>
        <td><%= user.class %></td>
        <td><%= user.number %></td>
        <td><%= user.name %></td>
        <td><%= user.graduate %></td>
        <td><%= user.teacher %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
