<h1>Butterfly</h1>

<%
#user = loginUser
user = new User  #テストコード ↑ のメソッドが出来たらいらない
user.teacher = true
%>
<%if user.teacher%>
<%= link_to '健康観察', '' %>
<%else%>
<%= link_to '健康観察', '' %>
<%end%>
<br>
<%if user.teacher%>
<%= link_to 'カウンセリング申し込み', '' %>
<%else%>
<%= link_to 'カウンセリング申し込み', '' %>
<%end%>
<br>
<%if user.teacher%>
<%= link_to '名簿編集', 'controller.action'%>
<%else%>
<%= link_to '感染症情報', 'http://localhost:3000/infection/top/' %>
<%end%>
<br>
<%if user.teacher%>
<%= link_to '質問コーナー', '' %>
<%else%>
<%= link_to '質問コーナー', '' %>
<%end%>
<br>
<%= link_to 'ログアウト', '' %>