<head>
 <h1>Butterfly</h1>
</head>

<body>
 <%
   #user = loginUser
   #user = User.new(teacher: true)
    teacher = true
   #テストコード ↑ のメソッドが出来たらいらない
 %>

 <%if teacher%>
 <%= link_to '健康観察', '' %>
 <%else%>
 <%= link_to '健康観察', '' %>
 <%end%>
 <br>
 <%if teacher%>
 <%= link_to 'カウンセリング申し込み', '' %>
 <%else%>
 <%= link_to 'カウンセリング申し込み', '' %>
 <%end%>
 <br>
 <%if teacher%>
 <%= link_to '名簿編集', '' %>
 <%else%>
 <%= link_to '感染症情報', 'infection_top_path' %>
 <%end%>
 <br>
 <%if teacher%>
 <%= link_to '質問コーナー', questions_path %>
 <%else%>
 <%= link_to '質問コーナー', '' %>
 <%end%>
 <br>
 <%= link_to 'ログアウト', '' %>
</body>